<footer class="text-center py-20">
  <p class="max-w-lg mx-auto mb-10">
    Společný výroční projekt HaDivadla a Terénu, scén CED, p.o. Statutární město
    Brno finančně podporuje Centrum experimentálního divadla, příspěvkovou
    organizaci.
  </p>
  <p class="">
    <img
      class="h-12 inline-block m-5"
      src="{{site.baseurl}}/assets/ha-divadlo.png"
      alt="logo HaDivadlo"
    />
    <img
      class="h-12 inline-block m-5"
      src="{{site.baseurl}}/assets/teren.jpeg"
      alt="logo HaDivadlo"
    />
    <img
      class="h-12 inline-block m-5"
      src="{{site.baseurl}}/assets/ced.png"
      alt="logo HaDivadlo"
    />
  </p>
</footer>
