<footer class="text-center py-20">
  <p class="prose max-w-lg mx-auto mb-10 bg-white inline-block p-5">
    Společný výroční projekt <a href="https://www.hadivadlo.cz/">HaDivadla</a> a
    <a href="https://jasuteren.cz/">Terénu</a>, scén
    <a href="https://www.ced-brno.cz/">CED</a>, p.o. Statutární město Brno
    finančně podporuje Centrum experimentálního divadla, příspěvkovou
    organizaci.
  </p>
  <p class="">
    <a href="https://www.hadivadlo.cz/">
      <img
        class="h-12 inline-block m-5"
        src="{{site.baseurl}}/assets/ha-divadlo.png"
        alt="logo HaDivadlo"
      />
    </a>

    <a href="https://jasuteren.cz/">
      <img
        class="h-12 inline-block m-5"
        src="{{site.baseurl}}/assets/teren.jpeg"
        alt="logo HaDivadlo"
      />
    </a>
    <a href="https://www.ced-brno.cz/"
      ><img
        class="h-12 inline-block m-5"
        src="{{site.baseurl}}/assets/ced.png"
        alt="logo HaDivadlo"
    /></a>
  </p>
</footer>
