<meta property="og:locale" content="en_En" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ site.title }} / {{ site.title-en }}" />
<meta
  property="og:description"
  content="{{ site.description-en }} / {{ site.description }}"
/>
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta
  property="og:image"
  content="https://res.cloudinary.com/dhxmg9p4i/image/upload/v1611869304/blog/embed.jpg"
/>

<meta data-rh="true" property="twitter:card" content="summary_large_image" />

<meta name="twitter:site" content="@NSZ_info" />
<meta name="twitter:creator" content="@NSZ_info" />
<meta data-rh="true" property="twitter:title" content="{{ site.title }}" />
<meta
  data-rh="true"
  property="twitter:description"
  content="{{ site.description-en }} / {{ site.description }}"
/>
<meta
  name="twitter:image"
  content="https://res.cloudinary.com/dhxmg9p4i/image/upload/v1611869304/blog/embed.jpg"
/>
