<div class="overflow-x-scroll w-screen pb-64" data-programme="">
  <!-- - -->{%- include timeline-header.html -%}

  <!-- - -->
  {%- include timeline-row-friday.html stage="Sál" neco="friday.start" -%}
  <!-- -->
  {%- include timeline-row-friday.html stage="Studio" neco="friday.start" -%}
  <!-- -->
  {%- include timeline-row-friday.html stage="Dolní foyer" neco="friday.start"
  -%}
  <!-- -->
  {%- include timeline-row-friday.html stage="ZÁZEMÍ 1." neco="friday.start" -%}
  <!-- -->
  {%- include timeline-row-friday.html stage="ZÁZEMÍ 2." neco="friday.start" -%}
  <!-- -->
  {%- include timeline-row-friday.html stage="ZÁZEMÍ 3." neco="friday.start" -%}
</div>
