---
layout: default
---

<div class="prose p-10">
  <h1>Pátek</h1>
</div>
<div class="overflow-x-scroll w-screen pb-10">
  <!-- - -->{%- include timeline-header.html -%}
  <!-- - -->
  {%- include timeline-row-friday.html stage="Sál" neco="friday.start" -%}
  <!-- -->
  {%- include timeline-row-friday.html stage="Studio" neco="friday.start" -%}
  <!-- -->
  {%- include timeline-row-friday.html stage="Dolní foyer" neco="friday.start"
  -%}
  <!-- -->
  {%- include timeline-row-friday.html stage="ZÁZEMÍ 1." neco="friday.start" -%}
  <!-- -->
  {%- include timeline-row-friday.html stage="ZÁZEMÍ 2." neco="friday.start" -%}
  <!-- -->
  {%- include timeline-row-friday.html stage="ZÁZEMÍ 3." neco="friday.start" -%}
</div>

<div class="prose p-10">
  <h1>Sobota</h1>
</div>
<div class="overflow-x-scroll w-screen mb-10">
  <!-- - -->{%- include timeline-header.html -%}
  <!-- -->{%- include timeline-row-saturday.html stage="Sál" -%}
  <!-- -->
  {%- include timeline-row-saturday.html stage="Studio" -%}
  <!-- -->
  {%- include timeline-row-saturday.html stage="Dolní foyer" -%}
  <!-- -->
  {%- include timeline-row-saturday.html stage="ZÁZEMÍ 1." -%}
  <!-- -->
  {%- include timeline-row-saturday.html stage="ZÁZEMÍ 2." -%}
  <!-- -->
  {%- include timeline-row-saturday.html stage="ZÁZEMÍ 3." -%}
</div>
