---
layout: default
---

<div class="prose p-10">
  <h1>Pátek 20. 8.</h1>
</div>
<div class="overflow-x-scroll w-screen pb-10">
  <!-- - -->{%- include timeline-header.html -%}
  <!-- - -->
  {%- include timeline-row-friday.html stage="Sál" neco="friday.start" -%}
  <!-- -->
  {%- include timeline-row-friday.html stage="Studio" neco="friday.start" -%}
  <!-- -->
  {%- include timeline-row-saturday.html stage="Horní foyer" -%}
  <!-- -->
  {%- include timeline-row-saturday.html stage="Dolní foyer" -%}
  <!-- -->
  {%- include timeline-row-saturday.html stage="Zázemí 1." -%}
  <!-- -->
  {%- include timeline-row-saturday.html stage="Zázemí 2." -%}
  <!-- -->
  {%- include timeline-row-saturday.html stage="Zázemí 3." -%}
  <!-- -->
  {%- include timeline-row-saturday.html stage="Zázemí 4." -%}
  <!-- -->
</div>

<div class="prose p-10">
  <h3>
    Po celou dobu trvání akce je přístupný dětský koutek. Hlídání je zajištěno v
    pátek od 10.15 do 20.00 a v sobotu od 10.45 do 20.00
  </h3>

  <h3>Bar je otevřen 20/8 10:30–24 & 21/8 14–24</h3>

  <h3>
    U vodních zdrojů v prostorách HaDivadla najdete tetovačky umělkyně Kristýny
    Gajdošové: Make my skin wet with your tears. Vemte si tetovačku a obnovujte
    se.
  </h3>
</div>

<div class="prose p-10">
  <h1>Sobota 21. 8.</h1>
</div>
<div class="overflow-x-scroll w-screen mb-10">
  <!-- - -->{%- include timeline-header.html -%}
  <!-- -->{%- include timeline-row-saturday.html stage="Sál" -%}
  <!-- -->
  {%- include timeline-row-saturday.html stage="Studio" -%}
  <!-- -->
  {%- include timeline-row-saturday.html stage="Horní foyer" -%}
  <!-- -->
  {%- include timeline-row-saturday.html stage="Dolní foyer" -%}
  <!-- -->
  {%- include timeline-row-saturday.html stage="Zázemí 1." -%}
  <!-- -->
  {%- include timeline-row-saturday.html stage="Zázemí 2." -%}
  <!-- -->
  {%- include timeline-row-saturday.html stage="Zázemí 3." -%}
  <!-- -->
  {%- include timeline-row-saturday.html stage="Zázemí 4." -%}
</div>

<div class="prose p-10">
  <h3>
    Po celou dobu trvání akce je přístupný dětský koutek. Hlídání je zajištěno v
    pátek od 10.15 do 20.00 a v sobotu od 10.45 do 20.00
  </h3>

  <h3>Bar je otevřen 20/8 10:30–24 & 21/8 14–24</h3>

  <h3>
    U vodních zdrojů v prostorách HaDivadla najdete tetovačky umělkyně Kristýny
    Gajdošové: Make my skin wet with your tears. Vemte si tetovačku a obnovujte
    se.
  </h3>
</div>

<div>
  <div class="flex flex-wrap justify-center max-w-4xl mx-auto">
    <!-- - -->{% assign items = site.program %}
    <!-- - -->{% for item in items %}
    <!-- - -->{%- include event-section.html -%}
    <!-- - -->{% endfor %}
  </div>
</div>
