@import "./scss/_fonts.scss";
@import "./scss/_toggle-button.scss";

@tailwind base;

@tailwind components;

@tailwind utilities;

$color: #000000;

.bg-main {
  background-color: #4423f6;
}

.text-main {
  background-color: #4423f6;
}
